


.section1 {
    border: 4px solid black;
    display: flex;
    width: 540px;
    height: 540px;
    flex-wrap: wrap;
}

.box1 {
    border: 4px solid black;
}

.box2 {
    border: 4px solid purple;
}

.box3 {
    border: 4px solid blue;
}