body {
    background-color:  #f8df86;
}

.bg-light {
    background-color: rgb(225, 121, 35) !important;
}

.flex-container {
    display: flex;
    column-gap: 370px;
    margin: 20px;
    
}

.card1 {
    margin-left: 50px;
}

.left {
    height: 2px;
    margin-top: 30px;

}

#card {
    margin-left: 60px;
    margin-top: 40px;
    height: 20px;
}


.flex-container2 {
    display: flex;
   
}



.form{
    margin-left: 400px;
    height: 500px;
}

